################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/andean/FileContentIndex/04c9b536-fa86-4ca2-b90a-202706e01ff0.vsidx
/.vs/andean/FileContentIndex/read.lock
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/andean/FileContentIndex/836a31bc-45c2-4a46-8bf5-a05628b27656.vsidx
/.vs/andean
